html {
	font-size: 10px; 
	font-family: 'Droid Sans Mono', sans serif;
}
/* Style heading */
h1,h2{
	margin: 0px;
	padding: 0px 0px 10px 0px;
	font-size: medium;
	text-align: left;
	font-weight: normal;
}

/*Style Paragraph and list elements */
p, li{	
	list-style: square;
	font-size: medium;
	line-height: 2;
	letter-spacing: 1px;
	clear: center;
}
/* Style Image */
img{
	display: block;
	margin: 0 auto;
	float: right;
}
/*Style Body */
body {
	width: 600px;
	margin: 20px auto;
	background-color: black;
	padding: 20px 20px 200px 20px;
	border: 5px dotted;
	color: #00CC00;
}
/*Code for the welcome message type in*/
.welcomeMessage {
	width: 0; 
	height: 32px;
	overflow: hidden;
	animation: welcomeTyper 3s steps(42) forwards, cursor 1s 3s step-end infinite;
	border-right: 1ch solid;
}

@keyframes welcomeTyper{
	from {
		width: 0;
	}
	100%{
		width: 46ch;
	}

}

@keyframes cursor{
	from {
		border-right: 1ch black;
	}
	50% {
		border-right: 1ch #00CC00;
	}
}

/*Code for blinking access message*/
.blinkAccess {
	animation-duration: 1s;
	animation-name: accessBlinker;
	animation-iteration-count: infinite;
	animation-timing-function: step-end;
}

@keyframes accessBlinker{
	0% {
		color: #00CC00;
	}
	50% {
		color: black;
		background:#00CC00;
	}
}

/*Code to make selections highlighted on hover*/
.planetIcon {
	color: #00CC00;
	text-decoration: none;
}
.planetIcon:hover  {
	background:#00CC00;
	color: black;	
}
.stellarPlotIcon {
	color:#00CC00;
	text-decoration: none;	
}
.stellarPlotIcon:hover{
	background:#00CC00;
	color: black;
}
.aboutIcon{
	color:#00CC00;
	text-decoration: none;
}
.aboutIcon:hover{
	background:#00CC00;
	color: black;
}